* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* list-style: none; */
  scroll-behavior: smooth;
}
body {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}
header {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 20px 13%;
  border-bottom: 1px solid #6D9773;
}
.logo {
  color: #6D9773;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

section {
  padding: 20px 13%;
}
.soal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  justify-content: flex-start;
  gap: 5px;
}
.soal-row {
  display: flex;
  flex-direction: row;
  gap: 5px; 
}
.soal .card-soal {
  background-color: #fff;
  width: 37%;
  height: 250px;
  /* border: solid 1px; */
  border-radius: 8px;
  padding: 30px;
  justify-content: space-between;
}
.card-soal h2 {
  font-size: 22px;
  text-decoration: underline;
  color: #6D9773;
  margin-bottom: 15px;
}
.card-soal .list-soal {
  /* border: solid 1px; */
  padding: 0 20px 0 0;
}
.card-soal .list-soal ol li {
  margin-bottom: 5px;
}
.soal4-col .card-soal {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* text-align: center; */
}
.card-soal .soal4-row {
  width: 15%;
  margin-left: 40px;
}
input {
  bottom: 0;
  padding: 15px;
  margin-top: 13px;
  width: 100%;
  height: 20px;
  border: solid 1px #6D9773;
  border-radius: 5px;
}
.form-data {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 1px;
  width: 100%;
}
.form-data form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.submit {
  width: 100px;
  padding: 10px;
  height: 40px;
  font-weight: 600;
  background-color: #6D9773;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  header {
    padding: 15px;
  }
  .logo {
    font-size: 20px;
  }
  section {
    padding: 10px;
  }
  .soal-row {
    flex-direction: column;
  }
  .soal4-col .card-soal {
    flex-direction: column;
    align-items: center;
  }
  .soal4-row {
    width: 100%;
  }
}